body {
  color: white;
  background-color: black;
}

section {
  background: rgb(184, 156, 213);
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

div {
  margin-right: 20px;
}

.chamada-texto {
  margin-right: 5%;
}

img {
  height: 200px;
}

.categoria-videos {
  display: flex;
  flex-direction: column; /* Cria fila de vídeos na vertical */
  max-height: 300px; /* Define a altura máxima desejada */
  overflow-y: auto;  /* Permite a rolagem vertical */
  overflow-x: hidden; /* Evita rolagem horizontal (opcional) */
  border: 1px solid #ccc; /* Apenas para visualizar o limite do contêiner */
  /*overflow-x: auto;*/
  gap: 100px;
}