body {
  color: white; 
  background-color: black;   
}

section{
  background: rgb(184, 156, 213);
  padding-bottom: 100px;
  padding-top: 100px;
display: flex;
justify-content: center;
}

div{
  margin-right: 20px;
}
.chamada.texto{
  margin-right: 5%;
}